#  Default of credit Card Clients

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df = pd.read_excel("D:\default+of+credit+card+clients\default of credit card clients.xls", header=1)
df.shape

(30000, 25)

In [18]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [63]:
df.isnull().sum()
#df.value_counts()

ID                            0
LIMIT_BAL                     0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
SEX_1                         0
SEX_2                         0
EDUCATION_0                   0
EDUCATION_1                   0
EDUCATION_2                   0
EDUCATION_3                   0
EDUCATION_4                   0
EDUCATION_5                   0
EDUCATION_6                   0
MARRIAGE_0                    0
MARRIAGE_1                    0
MARRIAGE_2                    0
MARRIAGE_3                    0
dtype: int64

In [34]:
df = df.dropna()

In [35]:
df = df.drop_duplicates()

In [39]:
print(df.dtypes)
print(df.describe())

ID                            int64
LIMIT_BAL                     int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default payment next month    int64
SEX_1                         uint8
SEX_2                         uint8
EDUCATION_0                   uint8
EDUCATION_1                   uint8
EDUCATION_2                   uint8
EDUCATION_3                   uint8
EDUCATION_4                   uint8
EDUCATION_5                   uint8
EDUCATION_6                   uint8
MARRIAGE_0                    uint8
MARRIAGE_1                    uint8
MARRIAGE_2                    uint8
MARRIAGE_3                    uint8
dtype: object
                 ID       LIMIT_BAL           AGE         PAY_0         PAY_2  \
count  30000.000000    30000.000000  30000.000000  30000.000000  30000.000000
mean   15000.500000   167484.322667     35.485500     -0.016700     -0.133767
std     8660.398374   129747.661567      9.217904      1.123802      1.197186
min        1.000000    10000.000000     21.000000     -2.000000     -2.000000
25%     7500.750000    50000.000000     28.000000     -1.000000     -1.000000
50%    15000.500000   140000.000000     34.000000      0.000000      0.000000
75%    22500.250000   240000.000000     41.000000      0.000000      0.000000
max    30000.000000  1000000.000000     79.000000      8.000000      8.000000

              PAY_3         PAY_4         PAY_5         PAY_6      BILL_AMT1  \
count  30000.000000  30000.000000  30000.000000  30000.000000   30000.000000
mean      -0.166200     -0.220667     -0.266200     -0.291100   51223.330900
std        1.196868      1.169139      1.133187      1.149988   73635.860576
min       -2.000000     -2.000000     -2.000000     -2.000000 -165580.000000
25%       -1.000000     -1.000000     -1.000000     -1.000000    3558.750000
50%        0.000000      0.000000      0.000000      0.000000   22381.500000
75%        0.000000      0.000000      0.000000      0.000000   67091.000000
max        8.000000      8.000000      8.000000      8.000000  964511.000000

       ...   EDUCATION_1   EDUCATION_2   EDUCATION_3   EDUCATION_4  \
count  ...  30000.000000  30000.000000  30000.000000  30000.000000
mean   ...      0.352833      0.467667      0.163900      0.004100
std    ...      0.477859      0.498962      0.370191      0.063901
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.000000      0.000000      0.000000      0.000000
50%    ...      0.000000      0.000000      0.000000      0.000000
75%    ...      1.000000      1.000000      0.000000      0.000000
max    ...      1.000000      1.000000      1.000000      1.000000

        EDUCATION_5   EDUCATION_6    MARRIAGE_0    MARRIAGE_1    MARRIAGE_2  \
count  30000.000000  30000.000000  30000.000000  30000.000000  30000.000000
mean       0.009333      0.001700      0.001800      0.455300      0.532133
std        0.096159      0.041197      0.042389      0.498006      0.498975
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      1.000000
75%        0.000000      0.000000      0.000000      1.000000      1.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

         MARRIAGE_3
count  30000.000000
mean       0.010767
std        0.103204
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

[8 rows x 35 columns]

In [52]:
df.columns

Index(['ID', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_1', 'SEX_2', 'EDUCATION_0', 'EDUCATION_1', 'EDUCATION_2',
       'EDUCATION_3', 'EDUCATION_4', 'EDUCATION_5', 'EDUCATION_6',
       'MARRIAGE_0', 'MARRIAGE_1', 'MARRIAGE_2', 'MARRIAGE_3'],
      dtype='object')

In [50]:
from scipy import stats
threshold = 2.0  # Replace 2.0 with the desired threshold value

df = df[(np.abs(stats.zscore(df)) < threshold).all(axis=1)]

In [62]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
#df['default payment next month'] = scaler.fit_transform(df[['default payment next month']])
df.loc[:, 'default payment next month'] = scaler.fit_transform(df[['default payment next month']])
#df.loc.__setitem__((slice(None), ('default payment next month')), scaler.fit_transform(df[['default payment next month']]))

C:\Users\koush\AppData\Local\Temp\ipykernel_39216\32932105.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'default payment next month'] = scaler.fit_transform(df[['default payment next month']])